body{
	width:auto;
}

/******* Banner *******/
		#banner{
			width:960px;
			height:470px;
			overflow:hidden;
			position:relative;
		}
		#banner ul{
			height:470px;
			position:absolute;
		}
		#banner ul li{
			float:left;
			width:960px;
			height:453px;
			overflow:hidden;
			position:relative;
			text-align: center;
		}

		#banner ul li div{
			position:absolute;
			overflow:hidden;
		}

		#banner .btn{
			position:absolute;
			width:960px;
			height:10px;
			padding:5px 10px;
			right:0;
			bottom:0;
			text-align:center;
		}
		#banner .btn span{
			display:inline-block;
			_display:inline;
			_zoom:1;
			width:10px;
			height:10px;
			_font-size:0;
			margin-left:5px;
			cursor:pointer;
			background:#fff;
		}

		#banner .preNext{
			width:200px;
			height:270px;
			position:absolute;
			top:178px;
			cursor:pointer;
			z-index:1000;
		}
		#banner .pre{
			left:20px;
			background:url(../images/turn_left.png) no-repeat;
		}
		#banner .next{
			right:20px;
			background:url(../images/turn_right.png) no-repeat right top;
		}	
			

	
/******** Content *********/
	#content{
		height:290px;
		background: url(../images/border.png) no-repeat center top;
	}
	#content a{
		height:180px;
		width:240px;
		float:left;
		background:#E1E0E0;
		margin:20px 1px;
		border-radius:10px;
		position:relative;
	}
		#content img{
			height:180px;
			width:240px;
			border-radius:10px;
		}
		#content div span{
			position:absolute;
			top:190px;
			left:65px;
			font-size:22px;
		}
		.app{padding-left:5px;}





	
	
	
	