/***********************content开始*************************/
	/*#banner切换图片独立部分*/
	#banner{
		padding-top: 10px;
		margin: 0 auto;
	}
	/*#banner结束*/	
	#content{
		padding-top: 15px;
	}
	/*左边导航栏*/	
	.left_sub{
		float:left;
		width:157px;
	}
	.title_1{
		margin-right: 30px;
		padding-bottom: 6px;
		font-size: 16px;
		border-bottom: 1px solid #CCC;
	}
	.all{
		font-size: 16px;
		color:black;
		font-weight: 600;
	}
	.each_video{
		margin-left: 11px;
		line-height: 32px;
		font-size: 13px;
		border-bottom: 1px solid #CCC;
	}
	.right_training{
		float:left;
		width:703px;
	}
	/*左边导航栏结束*/		
	.training{
		float:left;
		width:760px;
		font-size: 18px;
		font-weight: 700;
		color: gray;
	}
			/**training公共选择器部分**/
			.show_pic{
				float: left;
				margin: 10px 64px 0 30px;
				opacity: 0.7;
				transition:all 2s;
				-webkit-transition:all 2s;
				-o-transition:all 2s;
				-moz-transition:all 2s;
			}
			.show_pic:hover{
				opacity: 1;
			}
			.show_article{
				display: block;
				margin: 20px 0;
				font-size: 22px;
				color: #3B5A77;
			}
			.tr_classify{
				float: left;
				width: 165px;
				margin:0 9px 5px 0;
				border:3px solid transparent;
			}
			.video_1{
				display: block;
				height:134px;
			}
			.pic_ct{
				font-size: 13px;
			}
			.expert_intr{
				font-size: 12px;
				color:#27A5D6;
			}

			.summary{
				height:70px;
				line-height: 20px;
				font-size: 12px;
			}
			.clear_both{
				clear:both;
			}
			.red{color:red;}
			/**公共部分结束**/
			.part_1{
				padding:0 15px;
				border-left: 2px solid #CCC;
				border-right: 2px solid #ccc;
			}
			.other_part{
				clear:both;
				margin: 10px;
				padding: 10px;
				background: #F1F1F1;
			}
			.title_2{
				margin-bottom: 20px;
				font-size: 20px;
			}
			.tr_top{
				border: 1px solid #CCC;
				border-radius: 8px;
			}
			.classify{
				float: left;
				width: 220px;
				margin: 18px 9px;
				border: 1px solid #CCC;
			}
			.supple_pic{
				float: left;
				margin:0 10px;
			}
			.detail{
				display: inline-block;
				margin: 22px 0 10px 0;
				font-size: 20px;
				color: #003096;
			}
			.lay_detail{
				float:left;
				width:254px;
			}

			.read_art{
				display:inline-block;
				width: 81px;
				height:31px;
				line-height: 31px;
				margin-top: 20px;
				font-size: 16px;
				text-align: center;
				color: white;
				background: url(../images/10.png) no-repeat;
			}
			.read_art:hover{
				color:white;
			}
			.tr_article_top{
				height: 377px;
				border: 1px solid #CCC;
				border-radius: 15px;
			}
			.tr_article_top p{
				padding-right: 45px;
			}

			.hot_video,.new_video{
				margin: 0 auto;
				width: 722px;
			}
				.plan_article_tl{
					display: inline-block;
					line-height: 40px;
					font-size: 20px;
					color: #56888F;
				}
				.add_expend{
					display: block;
					margin: 5px 0 10px 0;
					font-size: 12px;
				}
				.new_video img,.hot_video img{
					border-radius: 4px;
				}
			.article_top{
				height:120px;
			}
			.new_article{
				margin: 0 19px 0 31px;
			}
			.article_h{
				display: inline-block;
				margin: 3px 0;
				font-size: 18px;
				color: #597AA5;
			}
			.article_classify{
				float: left;
				width: 215px;
				margin-right: 15px;
				border-top: 1px solid #CCC;
			}
							
							.more_cf{
								display: inline-block;
								height: 20px;
								line-height: 20px;
								padding-left: 14px;
								font-size: 13px;
								background: url(../images/training/1.png) no-repeat;
							}
							.article_pic{
								float:left;
								margin-right: 5px;
							}
							.pic_relation{
								float: left;
								width: 130px;
							}
			.pertinence{
				position:relative;
				height: 410px;
				font-size: 14px;
				background:url(../images/training/workout_53.jpg) no-repeat;
			}			
			.pertinence span{
				font-size: 13px;
				font-weight: 300;
				color: #0070FF;
			}
			.pertinence a{color:#0E88BD;}
			.pertinence a:hover{
				color:#0E709A;
				text-decoration: underline;
			}
					.pt_part_1{
						position: absolute;
						top: 88px;
						left: 4px;
					}
					.pt_part_1 li{
						margin-bottom: 14px;
						text-align: right;
					}
					.pt_part_2{
						position: absolute;
						top: 88px;
						left: 573px;
					}
					.pt_part_2 li{
						margin-bottom: 14px;
						text-align: left;
					}
					.special{margin-top: 27px;}
/***********************footer开始*************************/
	#footer{background: url(../images/training/workout_54.jpg)}


/*添加返回顶部按钮*/	
.goTopBtn { 
	position:fixed;
	_position:absolute;
	display:none; 
	text-align:center; 
	line-height:30px; 
	width:30px; 
	bottom:35px; 
	height:33px; 
	font-size:12px; 
	cursor:pointer;
	background: #598DCF;
}
.goTopBtn a{
	color:white;
}



/*以上是锻炼页面跟子页面的共同部分，以下是锻炼子页面（training_1）的css部分*/
.part_2{
margin: 0 23px;
margin-bottom: 20px;
}
	.block_1,.block_2{

	}
		.title_3{
			padding: 5px 0;
			margin: 10px 0;
			border-bottom: 1px solid #CCC;
			color: black;
		}
		.nubble{
			float: left;
			margin: 5px 30px 0 0;
		}
		.defferent{
			margin-right:0px;
		}
		.nubble p{
			font-size: 16px;
			color: #0C84BD;			
		}
			.rt_picture{

			}
/*从视频页面copy过来---------------------------------------------*/
.part_3{
	height:800px;
	/*margin:10px 20px;*/
}
/******* 侧边栏 *********/
	.sidebar{
		width:165px;
		float:left;
		font-size: 12px;
	}
	/****** 视频/文章 ********/
		.sort{
			height:30px;
			border-bottom:1px solid #ccc;
			line-height:30px;
			padding:0 0 8px 20px;
		}
			.sort1,.sort2{
				display:inline-block;
				line-height:24px;
				width:50px;
				text-align:center;
				font-size:16px;
				font-weight:bold;
				margin-right:10px;
				cursor:pointer;
			}
			#show{
				background:lightblue;
			}
	/********** 全部 ***********/
		.bar{
			display:none;
		}
		.current{
			display:block;
		}
		.list{
			height: 30px;
			border-bottom: 1px solid #E5E5E5;
			line-height: 30px;
			padding-left: 20px;
		}
			.list a{
				display: block;
				color: #51639E;
			}
			.list a:hover{
				text-decoration:underline;
				font-weight:bold;
			}
		
		
/******* 视频 *************/		
	.video{
		display:inline-block;
		width:570px;
		margin-left:15px;
	}
	.all .all_ul{
		border-bottom:1px solid #E5E5E5;
		margin:0 auto;
	}
	/****** 选择分类 ********/
		.video .select{
			margin:10px;
		}
			.select a{
				color:#6377AD;
				display: inline-block;
				margin-right: 15px;
				font-weight:bold;
				width:70px;
				text-align:center;
				cursor:pointer;
			}
			.select a:hover{
				text-decoration:underline;
			}
			.select .pre{
				background:#69696C;
				color:white;
			}
		/******* 列表 ********/
		.video .each{
			padding-bottom:20px;
			border-bottom:1px solid #ccd
		}
		/***** 视频列表 ****/
		.video .vdos{
			width:100px;
			display:inline-block;
			margin:20px 10px 5px 0;
			
		}
			.video .vdos .pic{
				border-radius:4px;
				width:100px;
				height:65px;
				background:#ccc;
			}
				.vdos .pic a{
					width:130px;
					height:80px;
				}
				.vdos .pic a{
					display:block;
					cursor:pointer;
				}
			.vdos .info{
				margin-top:8px;
				font-size:12px;
			}
		/******** 文章列表 ********/
			.arts{
				float:left;
				width: 350px;
				height: 82px;
				margin-right: 15px;
				margin-top: 20px;
			}
				.arts .pic{
					width: 104px;
					height: 75px;
					border: 1px solid #ccc;
					padding: 3px;
					float:left;
				}
				.arts .info{
					height: 82px;
					width: 200px;
					display: inline-block;
					margin-left: 10px;
				}
					.info .art_title{
						
						font-weight: bold;
						margin-bottom:5px;
					}
					.art_title a{
						color: #2E4874;
					}
					.art_content{
						margin:0px;
						line-height:20px;
						text-indent:2em;
					}
					.read_all{
						color:#2D4974;
						float:right;
					}
					.count{
						color: red;
						font-weight: bold;
						margin-right: 10px;
					}

	/*底部汇总导航栏*/
		.title_4{
			padding: 5px 0 5px 10px;
			margin: 5px 0;
			font-size: 16px;
			background: #CCC;
		}
		.re_nav{

		}
		.re_nav li{
			float: left;
			width: 326px;
			margin-right: 3px;
			padding: 10px;
			font-size: 13px;
			font-weight: 700;
			border-bottom: 1px dotted #CCC;
		}
		.re_nav li a{
			color:#0E709A;
		}
		
		
	/****** 翻页 *****/
	.page{
		margin:15px;
		text-align:center;
	}
		.prev,.next{
			width:60px;
			height:20px;
		}
		.record{
			display:inline-block;
			margin:0 3px;
		}