/*.clearfix {

	}
	.clearfix:before {
	display: table; content: ""
	}
	.clearfix:after {
	display: table; content: ""
	}
	.clearfix:after {
	clear: both
	}
	a{cursor:pointer;}
	.triangle{
		border-color:#BCBCBC #fff #fff #fff;
	}
.wrapper{
	background: white;
}
/***********************content开始*************************/
/*#content{
	margin: 20px 0px;
}

/**********右边主要内容部分**********/
/*		.right_sider{
			float:left;
			width:790px;
		}
	
		.part_top{
			position: relative;
			margin-bottom: 10px;
			padding-bottom: 1px;
			background: #D7DBDD;
		}
		.lay_top{
			width:783px;
			margin-bottom: 5px;
			background: #e6f0f7;
		}*/
		.content{
			margin:10px;
		}
		.content .ct{
			padding: 14px 8px 20px 8px;
			background:#E6E6E6;
			border-radius: 8px 8px 0px 0px;
	}
		.content .none{
			display:none;
		}
		.content .video{
			display: block;
			float: left;
			height: 422px;
		}
		.content .list{
			float: right;
			width: 322px;			
		}
		.content .each{
			height: 136px;
			margin: 2px 0px;
			border: 1px solid #CCC;
		}
				.each .each_pic{
					display: block;
					width: 138px;
					height: 103px;					
				}
		.content .tab_mune{
			width:765px;
			height:49px;
		}
			.tab_mune .tab{
				float: left;
				width: 189px;
				height: 47px;
				border: 1px solid #D3D1D1;
				background: white;
			}
			.tab_mune .add{
				height:48px;
				border-top: none;
				background: #E6E6E6;			
			}
	/**********产品区**********/
		.produce{
			float: left;
			width: 215px;
			margin: 13px 17px;
			text-align: center;
			border: 3px solid transparent;
		}
			.produce .pd_pic{
				display: block;
				width: 215px;
				height: 316px;
			}
			.pd_pic img{
				width: 215px;
				height: 272px;
				display: block;
				background: white;
			}
			.produce p{
				line-height: 22px;
				background: #F0F0F0;
			}
			.produce .price{
				font-weight: 600;
				color: red;
				background: #b5b5b5;				
			}
	/*商店三级页面的css*/
	.right_sider .bottom{
		margin-top: 20px;
	}
	.article{
		float: left;
		width: 330px;
		margin: 4px 26px;
		border: 3px solid transparent;
		border-radius: 8px;
	}
	.article .article_pic{
		float: left;
		display: block;
		height: 97px;
		margin-right: 10px;
	}
	.article img{
		border-radius: 8px;
	}
		.article_content{
			float: left;
			width: 100px;
			margin-top: 16px;
		}
		.article_content .title_3{
			line-height: 18px;
			font-size: 13px;
			font-weight: 600;
			color: #6690FF;
		}
		.article_content p{
			font-size: 12px;
		}
		.expend{
			float:right;
		}

/************ Sider *************/
.sider{
	position: relative;
	float: left;
	width: 135px;
	margin: 0 10px 0 25px;
	background: #D7DBDD;
}

.corner_left{
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 5px;
	height: 5px;
	background: url(../images/bk_02.jpg) no-repeat;
}
.corner_bottom{
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 5px;
	height: 5px;
	background: url(../images/bk_03.jpg) no-repeat;
}
.sider .video{
	border-bottom: 1px solid #C6C6C6;
	display: block;
	margin: 0;
	color: #000B00;
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
	background: url(../images/bk_31.jpg) repeat-x;
}
	.sider .all{
		line-height: 30px;
		border-bottom: 1px solid #E5E5E5;
		padding-left: 10px;
	}
		.sider dl{
			padding-left:10px;
		}
		.kinds,.sub_kind{
			height: 30px;
			line-height: 30px;
			border-bottom: 1px solid #E5E5E5;
			margin-left:0;
			font-size: 14px;
			font-weight: bold;			
		}
			.kinds a{
				color: #52619D;
			}
			.sub_kind{
				padding-left:8px;
			}
			.sub_kind a{
				color:#52619D;
				font-size:13px;
				word-break: break-all;
			}
			.sub_kind a:hover{
				text-decoration:underline;
			}


/*先试行滑动图片的样式改版*/
		#banner{
			position:relative;
			margin:0 auto;
			width:930px;
		}
		
		
		.lay_banner{
			position:relative;
			margin: 0 auto;
			width: 930px;
			height:340px;
			overflow: hidden;
		}
		.lay_banner .ul_1{
			width:4650px;
			position: relative;
		}
			.change_1{
				position: relative;
				float:left;
			}
			.change_1 .pic_1{
				width: 930px;
				height: 340px;
				background: #DFDFDF;
			}
			.change_1 .pic_2{
				width: 930px;
				height: 340px;
				background:blue;
			}
			.change_1 .pic_3{
				width: 930px;
				height: 340px;
				background: red;
			}
			.change_1 .pic_4{
				width: 930px;
				height: 340px;
				background: green;
			}
			.change_1 .massage{
				position: absolute;
				right: 0px;
				top: 0px;
				display:inline-block;
				height: 340px;
				width: 180px;
				padding: 0 20px;
				opacity: 0.3;
				background: #575757;
			}
				.massage .title{
					padding: 10px 0;
					font-size: 18px;
					border-bottom: 1px solid white;
					color: white;
				}
				.massage p{
					font-size: 15px;
					color: white;
					margin-right: 16px;
				}
				.massage .png{
					position: absolute;
					right: 18px;
					bottom: 25px;
				}
		.choice_area{
			position:relative;
			background: transparent;
		}
		.choice_area .ul_2{
			position: relative;
			margin:0 55px;
			*padding-bottom:12px;
		}
		.ul_2 li img{
			width:128px;
			height:80px;
		}
		.choice_area li{
			position: relative;
			float: left;
			display: inline-block;
			height: 80px;
			width: 128px;
			margin: 12px 15px;
			cursor: pointer;
			z-index: 100;
			border: 3px solid transparent;

		}
		.choice_area .first_choice{border: 3px solid yellow;}
		.choice_area .relative{
			
		}
			.ps_left{position: absolute;
				display: inline-block;
				width: 40px;
				height: 80px;
				top: 16px;
				left: 10px;
				z-index: 100;
				background: url(../images/turn_left.png) no-repeat;}
			.ps_right{position: absolute;
				display: inline-block;
				width: 40px;
				height: 80px;
				top: 16px;
				right: 10px;
				z-index: 100;
				background: url(../images/turn_right.png) no-repeat;}
			.cover{
				position: absolute;
				top: 0px;
				width: 930px;
				height: 110px;
				opacity: 0.3;
				filter:alpha(opacity=30);
				background: black;
			}


	





	