
.content{
	height:800px;
	margin:10px 20px;
}
/******* 侧边栏 *********/
	.sidebar{
			margin:0;
	}
	/****** 视频/文章 ********/
		.sort{
			height:30px;
			line-height:30px;
		}
			.sort1,.sort2{
				display:inline-block;
				line-height:24px;
				width:50px;
				text-align:center;
				font-size:16px;
				font-weight:bold;
				margin-right:10px;
				cursor:pointer;
			}
			#show{
				background:lightblue;
			}
	/********** 全部 ***********/
		.bar{
			display:none;
		}
		.current{
			display:block;
		}
		.list{
			height: 30px;
			line-height: 30px;
			padding-left: 20px;
		}
			.list a{
				display: block;
				color: #51639E;
			}
			.list a:hover{
				text-decoration:underline;
				font-weight:bold;
			}
		
		
/******* 视频 *************/		
	.video{
		display:inline-block;
		width:745px;
		margin-left:30px;
	}
	.all .all_ul{
		border-bottom:1px solid #E5E5E5;
		width:740px;
		margin:0 auto;
	}
	/****** 选择分类 ********/
		.video .select{
			margin:10px;
		}
			.select a{
				color:#6377AD;
				display: inline-block;
				margin-right: 15px;
				font-weight:bold;
				width:70px;
				text-align:center;
				cursor:pointer;
			}
			.select a:hover{
				text-decoration:underline;
			}
			.select .pre{
				background:#69696C;
				color:white;
			}
		/******* 列表 ********/
		.video .each{
			padding-bottom:20px;
			border-bottom:1px solid #ccd
		}
		/***** 视频列表 ****/
		.video .vdos{
			width:130px;
			display:inline-block;
			margin:20px 10px 5px 0;
			
		}
			.video .vdos .pic{
				border-radius:4px;
				width:130px;
				height:80px;
				background:#ccc;
			}
				.vdos .pic a{
					width:130px;
					height:80px;
				}
				.vdos .pic a{
					display:block;
					cursor:pointer;
				}
			.vdos .info{
				margin-top:8px;
				font-size:12px;
			}
		/******** 文章列表 ********/
			.arts{
				float:left;
				width: 350px;
				height: 82px;
				margin-right: 15px;
				margin-top: 20px;
			}
				.arts .pic{
					width: 104px;
					height: 75px;
					border: 1px solid #ccc;
					padding: 3px;
					float:left;
				}
				.arts .info{
					height: 82px;
					width: 200px;
					display: inline-block;
					margin-left: 10px;
				}
					.info .art_title{
						
						font-weight: bold;
						margin-bottom:5px;
					}
					.art_title a{
						color: #2E4874;
					}
					.art_content{
						margin:0px;
						line-height:20px;
						text-indent:2em;
					}
					.read_all{
						color:#2D4974;
						float:right;
					}
					.count{
						color: red;
						font-weight: bold;
						margin-right: 10px;
					}
		
		
	/****** 翻页 *****/
	.page{
		margin:15px;
		text-align:center;
	}
		.prev,.next{
			width:60px;
			height:20px;
		}
		.record{
			display:inline-block;
			margin:0 3px;
		}
				
	