.clearfix:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	line-height:0;
}
.clearfix{
	zoom:1;
} 
.logo{
	margin-right:12px;
}
a{
	cursor:pointer;
}
	/*header*/
	#header{
		width:980px;
		background: white;
	}
	/*content*/
	#content{
	}
		.content_left{
			float:left;
			padding: 25px 0 0 15px;
			font-size: 13px;
			background: white;
		}

		.content_left .title_1{
			display: inline;
			margin-right:60px;
			font-size: 26px;
			color: #0079CA;
			zoom:1;
		}
		.content_left .goal{
			font-size: 16px;
			font-weight: 600;
			color: #0D79AC;
		}
		.content_left .goal_part{
			font-size: 16px;
			font-weight: 600;
		}
			.essay_ct{
				width:651px;
				margin-right:13px;
				border-top: 1px solid #ccc;
			}
			.essay_ct .title_2{
				margin: 22px 0;
				font-size: 23px;
				color: #1F1F1F;
			}
			.essay_ct .web_expend_1{
				height:26px;
				line-height: 26px;
				border-bottom: 1px solid #E0E0E0;
			}
				.web_expend_1 .prompt{
					padding-left: 0px;
					border-left: none;
					font-size: 15px;
					font-weight: 700;
					color: #0079CA;
					}
				.web_expend_1 span{
					padding: 0 7px;
					border-left: 1px solid #CCC;
				}
				.web_expend_1 a,.web_expend_2 a{

					display: inline-block;
					width: 16px;
					height: 16px;
					margin:0 3px -3px 3px;
					background: url(../images/wm3.png) no-repeat;
				}
				.web_expend_1 .sprite_1,.web_expend_2 .sprite_1{
					background-position: 0px 0px;
					}
				.web_expend_1 .sprite_2,.web_expend_2 .sprite_2{
					background-position: 0px -26px;						
					}
				.web_expend_1 .sprite_3,.web_expend_2 .sprite_3{
					background-position: 0px -52px;						
					}
				.web_expend_1 .sprite_4,.web_expend_2 .sprite_4{
					background-position: 0px -78px;						
					}
				.web_expend_1 .sprite_5,.web_expend_2 .sprite_5{
					background-position: 0px -104px;						
					}
				.web_expend_1 .sprite_6,.web_expend_2 .sprite_6{
					background-position: 0px -104px;						
					}
				.web_expend_1 .sprite_7{
					float:right;
					width:41px;
					padding: 2px 0 8px 35px;
					background-position: 0px -153px;						
					}
				.web_expend_1 .time{
					display:inline-block;
					border-left: 0px;
					width:136px;
				}
				.video{
					margin: 60px 0 0 40px;
				}
				.video .video_pic{
					float: left;
					margin-right: 18px;
				}
				.video .detail{
					float: left;
					width: 303px;
					height: 80px;
					padding-left: 5px;
					background: #E6E6E6;
				}
				.video .detail p{
					line-height: 24px;
					font-size: 13px;
					color:#424242;
				}
				.food_pic{
					margin: 25px 0;
					text-align: center;
				}
				.food_pic .food_ms{
					margin-top: 10px;
					font-size: 15px;
					font-weight: 600;
				}
				.article{
					font-size: 14px;
					line-height: 26px;
					color:#424242;
				}
				.article .title_3{

				}
				.article p{
					text-indent: 27px;
				}
				.web_expend_2{
					margin:20px 0;
					height: 27px;
					line-height: 27px;
				}
				.web_expend_2 .sprite_8{
					background-position: 0 -261px;
					width: 50px;
					height: 27px;
					margin-bottom: -8px;
				}
				.web_expend_2 .sprite_9{
					background-position: 0 -186px;
					width: 50px;
					height: 27px;
					margin-bottom: -8px;
				}

				.web_expend_2 .praise{
					display: inline-block;
					height: 27px;
					line-height: 27px;
					margin-left: 27px;
				}
				.web_expend_2 .relay{
					margin-left: 26px;
					font-weight: 600;
					color: #006FD5;
				}
				.web_expend_2 .collect{
					width: 30px;
					height:27px;
					line-height: 27px;
					background: none;
				}
				.web_expend_2 .read_time{
					position:relative;
					float:right;
					height:27px;
					line-height: 27px;
				}
				.web_expend_2 .triangle{
					background:none;
					padding:0;
					overflow:hidden;
					width:0;
					height:0;
					font-size:0;
					line-height:0;
					border-color:#BCBCBC #F0F2EF #F0F2EF #F0F2EF;
					border-style:solid;
					border-width:5px;
					margin-top:-2px;
						}
				.border_comment{
					width: 611px;
					height:150px;
					margin-bottom: 10px;
				}
				.border_comment .word_num{
					float: right;
				}
				.border_comment .textarea{
					margin: 7px 0;
					border: 1px solid #CCC;
				}
				.border_comment .comment_inp{
					width: 595px;
					height: 70px;
					padding: 7px 7px;
					border: 0px;
					overflow: hidden;
					overflow-y: auto;
					word-break: break-all;
					word-wrap: break-word;
					outline: none;
					line-height: 21px;
					resize:none;
				}
				.border_comment .comment{
					display: block;
					float:right;
					width:80px;
					height: 30px;

					line-height: 30px;
					text-align: center;
					color: white;
					font-weight: 600;
					background: url(../images/wm3.png) 0 -223px no-repeat;					
			
				}
				.check_comment{
					height: 32px;
					border-top: 4px solid #D1D1D1;
					background: whiteSmoke;
				}
				.check_comment .comment_1,.check_comment .comment_2{
					display: inline-block;
					line-height: 32px;
					font-weight: 600;
					padding: 0 20px;
					margin-top: -4px;
					color:#656565;
				}
				.check_comment .comment_3{
					border-top: 4px solid #007AFF;
					background: #DAF3FF;

				}
				.cm_content{
					margin:20px 0;
				}
				.tab_1{
					display:none;
				}
				.cm_content .cm_top{
					height: 25px;
				} 
					.cm_top .page_1{
						display: inline-block;
						float: right;
					}

						.page_1 .choice_page{
							display: inline-block;
							padding: 4px;
							color: white;
							background: #CCC;
							
						}
						.lay_page{
							display:inline-block;
						}
						.page_1 a{
							display: inline-block;
							width: 15px;
							height: 15px;
							margin: 0 5px;
							text-align: center;
						}
						.page_1 .pre_page{
							width: 41px;
							padding: 4px;
							margin: 0;
							color:#ccc;
							border: 1px solid #CCC;
							cursor:default;
						}
						.page_1 .next_page{
							width: 41px;
							padding: 4px;
							margin: 0;
							border: 1px solid #CCC;
						}
				.cm_content .cm_bottom{

				}
					.cm_bottom .title_5{
						margin: 16px 0;
						padding: 8px;
						font-size: 15px;
						background: #E9E9E9;
					}
					.cm_bottom .target{
						margin-top: 15px;
						border-bottom: 1px solid #CCC;
					}
						.target .target_pic{

							float:left;
							height:120px;
							margin-right: 10px;
						}
						.target .care{
							display:block;
						}
						.target .name{
							display: block;
							padding: 10px 0;
						}
						.target .bottom_ms{
							padding:10px 0;
						}
						.target .to{
							float:right;
						}
				.relation{
					margin-bottom: 100px;
				} 
				.relation .title_6{
					border-bottom: 1px solid #DFDFDF;
				}
					.title_6 .add_relation{
						display: inline-block;
						height: 27px;
						line-height: 27px;
						margin-bottom: -1px;
						font-size: 15px;
						border-bottom: 1px solid #5AB0FF;						
					}
				.relation p{
					line-height: 27px;
					font-size: 18px;					
				}
		/*右边广告部分*/
		.content_right{
			float:right;
			width:295px;
			margin-right: 2px;
			background: white;
		}
		.content_right .title_4{
			margin : 10px 0;
		}
		.content_right .recommend{
			height:70px;
		}	
			.recommend img{
				float:left;
				margin-right: 10px;
			}
			.recommend .intro{

			}
	/*footer*/



/*arm.html借用article的css，一下是arm私人部分*/
	.essay_ct .web_expend_1{
		margin-top: 18px;
		border-bottom: none;
	}
	.web_expend_1 .show_time{
		border-left: none;
		font-weight: 600;
	}
	.show_module{
		margin-left:10px;
	}
	.titler{
		margin: 20px 200px 40px 180px;
	}
	.module{

	}
	.module_left{
		float: left;
		width: 230px;
		line-height: 22px;
		font-size: 15px;
	}
	.show_video{

	}
	.show_video img{
		display:block;
	}
	.module_right{
		float: left;
		width: 370px;
		padding-top: 10px;
	}
	.module_right img{
		display:block;
	}