body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}   
ol,li,input{margin:0; padding:0;}
ul{list-style:none;margin:0; padding:0; }
body{background: url(../images/bg.jpg);}
a{cursor: pointer;}
.clearfix {

}
.clearfix:before {
display: table; content: ""
}
.clearfix:after {
display: table; content: ""
}
.clearfix:after {
clear: both
}
#wrap{margin:0 auto;
width:980px;
font:12px/1.125 Arial,Helvetica,sans-serif;}
/***********************header开始*************************/
	#header{position: relative;
			height:120px;}
		.logo{margin: 0 auto;
			width: 253px;
			}
		.logo a{outline:0px;}
		.returnbutton{position: absolute;
			display:inline-block;
			top: 30px;
			left: 15px;
			width: 80px;
			height: 37px;
			border:0px;
			cursor:pointer;
			background: url(../images/login/10.jpg) no-repeat;
		}
/***********************content开始*************************/
	#content{background: url(../images/border.png) repeat-x;}
		.content_tip{padding-top: 40px;
			text-align: center;
			font-size: 20px;
			font-weight: 700;}

		.mas_wrap{margin-top: 20px;}
				.lay_show_pic{float: left;
					width: 114px;
					height: 114px;
					margin: 0 81px 0 236px;}
		.massage_side{float: left;}
		.massage_side ul li{position: relative;
			width: 260px;
			height: 60px;}
		.massage_side .forinput{position: absolute;
			top: 12px;
			left: 26px;
			font-size: 18px;
			color: #ACACAC;
			*top:17px;
		}
			.input{width: 260px;
				height: 40px;
				border-radius:6px;
				-webkit-border-radius: 6px;}
			.login_email{width: 237px;
				height: 22px;
				line-height: 22px;
				font-size: 16px;
				padding:10px 0 10px 21px;
				font-weight: 700;
				outline: 0px;
				}
			.password{width: 237px;
				height: 22px;
				line-height: 22px;
				font-size: 16px;
				padding:10px 0 10px 21px;
				font-weight: 700;
				outline: 0px;}
			.empty{width: 237px;
				height: 22px;
				line-height: 22px;
				font-size: 16px;
				padding:10px 0 10px 21px;
				font-weight: 700;
				outline: 0px;}
		.choice_1,.choice_2{width: 271px;
				height: 38px;}
			.choice_1 input,.choice_2 input{float: left;}
			.choice_1 span,.choice_2 span{
				margin-left: 10px;}
		.choice_1{padding-left: 16px;
				background: white;
				border-radius: 6px;}
		.choice_2 .linktoprotect{font-size:11px;
			color:red;
			font-size: 12px;
		}
		.login_bt a:hover{background: #FF4F51;}
		.lay_choice{padding: 12px 0;}
		.loginbutton{display: inline-block;
				width: 70px;
				height: 33px;
				line-height: 33px;
				font-size: 17px;
				font-weight: 800;
				text-align: center;
				color: white;
				background-color: #D43638;
				border-radius: 5px;}
/***********************footer开始*************************/
	#fonter{	
				clear:both;
				text-align: center;
				margin-top: 70px;
				}
	#fonter .company_intro{font-size: 17px;
				font-weight: 700;
				color: #979797;}
	#fonter .linktomain{font-size: 17px;color: #979797;}