
/*content*/
	#content{
		margin:0 15px;
	}
	.title_main{

	}
	.video_content{
		position:relative;
		height:450px;
		margin: 10px;
		overflow:hidden;
	}
	.v_area{
		position:absolute;
		left:0px;
		width: 634px;
		height: 450px;
		background: #bbb;
	}
	.v_re{
		position:absolute;
		right:0px;
		width: 300px;
		height: 450px;
		overflow: hidden;
		background: #303030;
	}
	.bn_left{
		position: absolute;
		width: 12px;
		height: 48px;
		left: 0px;
		top: 206px;
		background: url(../images/wm2.png) no-repeat;
		background-position: 0px -387px;
	}
	.bn_right{
		position: absolute;
		width: 12px;
		height: 48px;
		right: 0px;
		top: 206px;
		background: url(../images/wm2.png) no-repeat;
		background-position: 0px -444px;
		z-index: 100;
	}
	.v_nav{
		background: #0F0F0F;

	}
	.v_nav li{
		float: left;
		width: 100px;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		color: white;
	}
	.v_nav .tabclass{
		background: #303030;
		color: #A2A2A3;
	}
	.tab{
		display:none;
	}
	.block{
		display:block;
	}
	.cf_all{
		margin-top: 15px;
		padding-left: 10px;

	}
	.v_cf{
		padding: 7px 10px 7px 5px;
		border-bottom: 1px solid #444;
	}
	.v_infro1{
		line-height: 22px;
		padding:28px;
		font-weight: 600;
		color: #fff;
	}
	.v_infro2{
		margin-top: 40px;
	}
	.pr_intro{
		margin-top: 30px
	}
	.video_pic{
		display: block;
		float: left;
		margin-right: 12px;
	}
	.video_ct{
		float: left;
		width: 128px;
	}
	.video_ct p{
		font-size: 13px;
		line-height: 20px;
		color:#666;
	}
	.video_ct .control_c{
		color: #BBB;
	}
	/*视频部分结束-----------------------*/
	.v_bottom{
		margin: 0 12px;
	}
	.bottom_part_left{
		float:left;
		width:611px;
	}
	.web_expend_2{
		position:relative;
		margin:20px 0;
		height: 27px;
		line-height: 27px;
	}
	.web_expend_2 a{

		display: inline-block;
		width: 16px;
		height: 16px;
		margin:0 3px -3px 3px;
		background: url(../images/wm2.png) no-repeat;
	}
	.web_expend_2 .sprite_1{
		background-position: 0px 0px;
	}
	.web_expend_2 .sprite_2{
		background-position: 0px -26px;						
	}
	.web_expend_2 .sprite_3{
		background-position: 0px -52px;						
	}
	.web_expend_2 .sprite_4{
		background-position: 0px -78px;						
	}
	.web_expend_2 .sprite_5{
		background-position: 0px -104px;						
	}
	.web_expend_2 .sprite_6{
		background-position: 0px -104px;						
	}	
	.web_expend_2 .sprite_8{
		background-position: 0 -261px;
		width: 50px;
		height: 27px;
		margin-bottom: -8px;
	}
	.web_expend_2 .sprite_9{
		background-position: 0 -186px;
		width: 50px;
		height: 27px;
		margin-bottom: -8px;
	}

	.web_expend_2 .praise{
		display: inline-block;
		height: 27px;
		line-height: 27px;
		margin-left: 27px;
	}
	.web_expend_2 .relay{
		margin-left: 26px;
		font-weight: 600;
		color: #006FD5;
	}
	.web_expend_2 .collect{
		width: 30px;
		height:27px;
		line-height: 27px;
		background: none;
	}
	.web_expend_2 .read_time{
		position:absolute;
		right:0px;
		height:27px;
		line-height: 27px;
	}
	.web_expend_2 .triangle{
		background:none;
		padding:0;
		overflow:hidden;
		width:0;
		height:0;
		font-size:0;
		line-height:0;
		border-color:#BCBCBC #F0F2EF #F0F2EF #F0F2EF;
		border-style:solid;
		border-width:5px;
		margin-top:-2px;
	}
	.border_comment{
		width: 611px;
		height:150px;
		margin-bottom: 10px;
	}
				.border_comment .word_num{
					float: right;
				}
				.border_comment .textarea{
					margin: 7px 0;
					border: 1px solid #CCC;
				}
				.border_comment .comment_inp{
					width: 595px;
					height: 70px;
					padding: 7px 7px;
					border: 0px;
					overflow: hidden;
					overflow-y: auto;
					word-break: break-all;
					word-wrap: break-word;
					outline: none;
					line-height: 21px;
					resize:none;
				}
				.border_comment .comment{
					display: block;
					float:right;
					width:80px;
					height: 30px;

					line-height: 30px;
					text-align: center;
					color: white;
					font-weight: 600;
					background: url(../images/wm2.png) 0 -223px no-repeat;					
			
				}
				.check_comment{
					height: 32px;
					border-top: 4px solid #D1D1D1;
					background: whiteSmoke;
				}
				.check_comment .comment_1,.check_comment .comment_2{
					display: inline-block;
					line-height: 32px;
					font-weight: 600;
					padding: 0 20px;
					margin-top: -4px;
					color:#656565;
				}
				.check_comment .comment_3{
					border-top: 4px solid #007AFF;
					background: #DAF3FF;

				}
				.cm_content{
					margin:20px 0;
				}
				.tab_1{
					display:none;
				}
				.cm_content .cm_top{
					height: 25px;
				} 
				.cm_top .page_1{
					display: inline-block;
					float: right;
				}
				.page_1 .choice_page{
					display: inline-block;
					padding: 4px;
					color: white;
					background: #CCC;
							
				}
				.lay_page{
					display:inline-block;
				}
				.page_1 a{
					display: inline-block;
					width: 15px;
					height: 15px;
					margin: 0 5px;
					text-align: center;
				}
				.page_1 .pre_page{
					width: 48px;
					padding: 4px;
					margin: 0;
					color:#ccc;
					border: 1px solid #CCC;
					cursor:default;
				}
				.page_1 .next_page{
					width: 48px;
					padding: 4px;
					margin: 0;
					border: 1px solid #CCC;
				}
				.cm_content .cm_bottom{

				}
				.cm_bottom .title_5{
					margin: 16px 0;
					padding: 8px;
					font-size: 15px;
					background: #E9E9E9;
				}
				.cm_bottom .target{
					margin-top: 15px;
					border-bottom: 1px solid #CCC;
				}
				.target .target_pic{

					float:left;
					margin-right: 10px;
				}
				.target .care{
					display:block;
				}
				.cm_left{
					float: left;
					width: 574px;
				}
				.target .name{
					display: block;
					padding: 10px 0;
				}
				.target .bottom_ms{
					padding:10px 0;
				}
				.target .to{
					float:right;
					display:inline;
				}
				.relation{
					margin-bottom: 100px;
				} 
				.relation .title_6{
					border-bottom: 1px solid #DFDFDF;
				}
				.title_6 .add_relation{
					display: inline-block;
					height: 27px;
					line-height: 27px;
					margin-bottom: -1px;
					font-size: 15px;
					border-bottom: 1px solid #5AB0FF;						
				}
				.relation p{
					line-height: 27px;
					font-size: 18px;					
				}
		.bottom_part_right{
			float:left;
			min-height: 100%;
			width:300px;
			margin-left: 14px;
			background: white;
		}
		.re{
			margin-top:89px;
			border:1px solid #E5E5E5;
		}
		.show_re{
			height: 30px;
			line-height: 30px;
			padding-left: 28px;
			background:#C6C6C6 ;
			color: white;
		}
		.sp{
			border-bottom: 1px solid #C6C6C6;
		}
		.cream li{
			padding: 7px 0;
			margin: 0 7px;
		}
		.re_pic{
			display: block;
			float: left;
			margin-right: 10px;			
		}
		.re_ct{
			float: left;
			font-size: 16px;
			font-weight: 700;
			color: black;
		}
		.adv{
			margin-top: 20px;
		}



