#banner{
	margin:0 auto;
}

	.sider{
		margin:40px 20px;
	}
	/********** 全部 ***********/

		.sub_plan,.plan{
			height: 30px;
			line-height: 30px;
			padding-left: 20px;
		}
			.sub_plan a{
				display: block;
				color: #51639E;
				cursor:pointer;
			}
			.sub_plan a:hover{
				text-decoration:underline;
				font-weight:bold;
			}
.content{
	width:730px;
	float:right;
	margin:20px 45px 0 0;
}
	.content h3{
		margin:10px;
		display:inline-block;
	}
		.train .sort{
			float: left;
			width: 170px;
			margin: 12px;
		}
			.sort .show_pic{
				width:170px;
				height:130px;
				border-radius:8px;
				box-shadow:0 0 8px #ccc;
			}
			.sort .sort_title{
				text-align:center;
				font-size:16px;
				font-weight:bold;
				margin:5px;
			}
			.sort .sub_sort{
				display:block;
				padding:2px;
				font-size:13px;
			}
	.step{	
		width:725px;
		margin:20px auto;
	}
		#choice{
			background:url(../images/store_bg.png) no-repeat;
			height:256px;
			width:722px;
			margin:0 auto;
		}
			#choice .intro{
				float:left;
				width: 220px;
				height:256px;
				color:#fff;
				line-height:25px;
				font-weight:bold;
				margin-left:10px;
				text-align:center;
				display:inline-block;
				margin-right:-4px\9;
			}
				.intro .befo{
					display:block;
					font-size:26px;
					padding:50px 0 40px 50px;
					text-align:left;
				}
				.intro .befo_intro{
					display:block;
					font-size:16px;
					width:220px;
					margin:0 auto;
				}				
			.steps_wrap{
				width:480px;
				display:inline-block;
			}	
				.steps_ul li{
					float:left;
					margin-right:1px;
					width:30px;
					height:256px;					
				}
					.steps_ul .opt{
						display:inline-block;
						font-size:20px;
						text-align:center;
						color:white;
						width:30px;
						height:256px;
						background:url(../images/plan/list.png) no-repeat center;
					}
				
				.steps_list2 .options,.steps_list3 .options{
					display:none;
				}	
			
				.options .yours{
					display:inline-block;
					width:40px;
					height:40px;
					margin:40px 0 0 40px;
					font-size:16px;
					font-weight:bold;
					color:#ccc;
					float:left;
				}
				.options a{
					display:inline-block;
					width:100px;
					height:250px;
					margin-left:30px;
					position:relative;
				}
					.options a span{
						position:relative;
						top:220px;
						left:25px;
						font-size:20px;
					}
					
		/******* list1 gender ******/			
				.steps_list1 .options .male{
					background:url(../images/plan/male10.png) no-repeat center;
				}
				.steps_list1 .options .male:hover{
					background:url(../images/plan/male11.png) no-repeat center;
				}
				
				.steps_list1 .options .female{
					background:url(../images/plan/female.png) no-repeat center;
				}
				.steps_list1 .options .female:hover{
					background:url(../images/plan/female11.png) no-repeat center;
				}
							
		/******** list2 goal ***********/		
				.steps_list2 .options .m_loss{
					background:url(../images/plan/mloss1.png) no-repeat center;
				}
				.steps_list2 .options .m_loss:hover{
					background:url(../images/plan/mloss2.png) no-repeat center;
				}
				.steps_list2 .options .m_build{
					background:url(../images/plan/m32.png) no-repeat center;
				}
				.steps_list2 .options .m_build:hover{
					background:url(../images/plan/m33.png) no-repeat center;
				}
				.steps_list2 .options .f_loss{
					background:url(../images/plan/loss1.png) no-repeat center;
				}
				.steps_list2 .options .f_loss:hover{
					background:url(../images/plan/loss2.png) no-repeat center;
				}
				.steps_list2 .options .f_build{
					background:url(../images/plan/ff1.png) no-repeat center;
				}
				.steps_list2 .options .f_build:hover{
					background:url(../images/plan/ff.png) no-repeat center;
				}
		/******* list3 age *********/	
				
				.steps_list3 .options a{
					width:80px;
					margin-left:10px;
				}
				.steps_list3 .options .m_teen{
					background:url(../images/plan/m1.png) no-repeat center;
				}
				.steps_list3 .options .m_teen:hover{
					background:url(../images/plan/m2.png) no-repeat center;
				}
				.steps_list3 .options .m_adult{
					background:url(../images/plan/m3.png) no-repeat center;
				}
				.steps_list3 .options .m_adult:hover{
					background:url(../images/plan/m4.png) no-repeat center;
				}
				.steps_list3 .options .m_older{
					background:url(../images/plan/m5.png) no-repeat center;
				}
				.steps_list3 .options .m_older:hover{
					background:url(../images/plan/m6.png) no-repeat center;
				}
				
				.steps_list3 .options .f_teen{
					background:url(../images/plan/f1.png) no-repeat center;
				}
				.steps_list3 .options .f_teen:hover{
					background:url(../images/plan/f2.png) no-repeat center;
				}
				.steps_list3 .options .f_adult{
					background:url(../images/plan/f3.png) no-repeat center;
				}
				.steps_list3 .options .f_adult:hover{
					background:url(../images/plan/f4.png) no-repeat center;
				}
				.steps_list3 .options .f_older{
					background:url(../images/plan/f5.png) no-repeat center;
				}
				.steps_list3 .options .f_older:hover{
					background:url(../images/plan/f6.png) no-repeat center;
				}
						
		/******* current *******/
				.steps_ul .current{
					width:415px;
				}
					
					.current .opt{
						background:url(../images/plan/select.png) no-repeat center;
						color:#656565;
						float:left;
					}
					.current .options{
						display:inline-block;
						width:380px;
						height:256px;
					}
					.steps_ul .options{
						display:none;
					}
					.steps_ul .select{
						display:inline-block;

					}

	#show_hide{
		width:800px;
		height:210px;
	}
	.exer{
		margin-right:20px;
	}
	.lay{
		width:375px;
		margin-bottom: 5px;
		border: 1px solid #91BFE0;
		background: #E6F0F7;
	}
	.gym,.exer{
		position:relative;
		display:inline-block;
		width:383px;
		background: #D7DBDD;
	}
	.exer img, .gym img{
		display:block;
		width:375px;
		height:145px;
	}
		.exer hr ,.gym hr{
			width:230px;
		}
		
	.example a{
		display:inline-block;
		width:230px;
		margin:12px 14px;
	}
		.example img{
			width:230px;
		}
		.line{
			width:620px;
		}
		
/******** 寻找教练 ********/
.inform_content{
position: relative;
float:left;
width:348px;
margin:20px 10px;
padding:18px 10px;
font-weight: 600;
border: 1px solid #CCC;
background: white;
}
.inform_pic{
float: left;
}
.inform{
float:right;
width:266px;
height:70px;
}
.inform p,.inform span{
	color:black;
}
.detail{
	position: absolute;
display: inline-block;
right: 8px;
bottom: 8px;
width: 120px;
height: 28px;
text-align: center;
line-height: 28px;
background: url(../images/jllb_01.png) no-repeat;
}

/****** 寻找健身房 ******/
.detail_1{
	position: absolute;
display: inline-block;
right: 8px;
bottom: 40px;
width: 83px;
height: 29px;
text-align: center;
line-height: 29px;
color: white;
background: url(../images/jllb_03.png) no-repeat;
}


/******** loss_step *******/
.loss_step{
	border:1px solid #ccc;
	height:280px;
	width:725px;
	margin:0 auto;
}
	.loss_step .tips{
		float:left;
		width:300px;
		height:280px;
		vertical-align:top;
	}
		.tips .tips_h{
			height:100px;
			text-align:center;
			line-height:100px;
		}
		.tips .tips_c{
			padding:35px;
			line-height:25px;
		}
	
	.loss_step .wizard{
		float:right;
	}
	.loss_step .m_l,.loss_step .f_l{
		display:inline-block;
		width:196px;
		height:280px;
		border-left:1px solid #ccc;
		cursor:pointer;
	}
	.loss_step .m_l{
		background:url(../images/plan/male10.png) no-repeat center;
	}
	.loss_step .f_l{
		background:url(../images/plan/female.png) no-repeat center;
	}
	.loss_step .txt{
		position:relative;
		top:230px;
		left:65px;
	}

/********* male loss age *********/
.bar .age_c{
	padding-left:10px;
	
}
.bar .age_c a{
	color:#656565;
	font-weight:bold;
}
.m_l_t,.m_l_a,.m_l_o,.f_l_t,.f_l_a,.f_l_o{
	display:inline-block;
	width:135px;
	height:280px;
	border-left:1px solid #ccc;
	cursor:pointer;
}
.m_l_t .txt,.m_l_a .txt,.m_l_o .txt,.f_l_t .txt,.f_l_a .txt,.f_l_o .txt{
	left:50px;
}
.m_l_t{
	background:url(../images/plan/m1.png) no-repeat center;
}
.m_l_a{
	background:url(../images/plan/m3.png) no-repeat center;
}
.m_l_o{
	background:url(../images/plan/m5.png) no-repeat center;
}

/******** female loss age *********/
.f_l_t{
	background:url(../images/plan/f1.png) no-repeat center;
}
.f_l_a{
	background:url(../images/plan/f3.png) no-repeat center;
}
.f_l_o{
	background:url(../images/plan/f5.png) no-repeat center;
}






:url(../images/plan/m1.png) no-repeat center;
}
.m_l_a{
	background:url(../images/plan/m3.png) no-repeat center;
}
.m_l_o{
	background:url(../images/plan/m5.png) no-repeat center;
}

/******** female loss age *********/
.f_l_t{
	background:url(../images/plan/f1.png) no-repeat center;
}
.f_l_a{
	background:url(../images/plan/f3.png) no-repeat center;
}
.f_l_o{
	background:url(../images/plan/f5.png) no-repeat center;
}






