a{
	cursor:pointer;
}	
input{
	border:1px solid #ccc;
}
/*content*/
#content{
	width: 824px;
	margin: 10px 78px 44px 78px;
	background: white;
	font-weight: 600;
}
#content .title{
	margin: 0px 40px;
	padding: 30px 0 10px 20px;
	font-size: 16px;
	border-bottom: 2px solid #F3F3F3;
}
	.title_1{
		margin-bottom: 33px;
		padding-left: 22px;
		font-size: 15px;
	}
	.title_1 li{
		float: left;
		margin-right: 70px;
	}
	.current{
		color:black;
	}

/*css of retrieve*/
#content .form_cm{
	margin: 54px 0 0 107px;
}
	
	.form_cm .submit_cm{
		padding-bottom: 100px;
	}
		.submit_cm li{
			position:relative;
			height: 32px;
			margin-bottom: 12px;
		}
		.submit_cm label{
			display: inline-block;
			width: 100px;
			height: 26px;
			line-height: 26px;
			text-align: right;
			color: #363636;
		}
		.submit_cm .text{
			display: inline-block;
			width: 178px;
			height: 18px;
			padding: 3px 0px;
			padding-left: 10px;
		}
		.submit_cm .show{
			position: absolute;
			top: 5px;
			left: 119px;
			color: #ccc;
		}

		.submit_cm .sprite_1{
			display: inline-block;
			width: 178px;
			height: 32px;
			line-height: 32px;
			margin-left: 18px;
			padding-left: 16px;
			color: white;
			background: url(../images/retrieve/result.png) 0px -162px no-repeat;
		}
		.submit_cm .submit{
			display: inline-block;
			width: 81px;
			height: 30px;
			line-height: 30px;
			margin:20px 0 0 104px;
			text-align: center;
			color: white;
			background: url(../images/retrieve/result.png) 0px -80px no-repeat;
		}
/*end of retrieve*/

/*css of retrieve_2*/
#content p{
	line-height: 35px;
}
	.text_1{
		margin: 0px 40px;
		padding: 40px 0 9px 67px;
		border-bottom: 1px solid #E6E6E6;
	}
	.text_2{
		margin: 34px 0 0 107px;
		padding-bottom: 80px;
	}
	.text_2 .next{
		display: inline-block;
		width: 80px;
		height: 30px;
		line-height: 30px;
		margin-bottom: 34px;
		text-align: center;
		color: white;
		background: url(../images/retrieve/5.png) no-repeat;
	}
	.text_2 .again{
		color:#C00;
	}
/*end of retrieve_2*/

/*css of retrieve_4*/

/*end of retrieve_3*/
	.part_left{
	float: left;
	margin: 97px 0 0 108px;
	font-weight: 800;
	}
	.part_left p{
		line-height: 28px;
	}
	.part_left a{
		display: inline-block;
		margin-top: 20px;
		background: url(../images/retrieve/result.png) no-repeat;
	}
	.part_left .sprites_1{
		width: 93px;
		height: 32px;
		line-height: 32px;
		font-size: 13px;
		text-align: center;
		color: white;
		background-position: 0px -39px;
		}
	.part_left .sprites_2{
		width: 81px;
		height: 32px;
		line-height: 32px;
		margin-left: 16px;
		font-size: 13px;
		text-align: center;
		color: white;
		background-position: 0px -79px;
		}
	.part_right{
		float: right;
		margin: 40px 20px 100px 0;
	}
	.part_right img{

	}
	.part_right p{
		text-align: center;
		font-size: 14px;
		color: #9E9E9E;
	}
	.part_right a:hover{
		color:white;
	}

		.sprites_3{
			display: inline-block;
			width: 177px;
			height: 30px;
			line-height: 30px;
			margin: 18px 0 0 34px;
			padding-left: 30px;
			font-weight: 700;
			color: white;
			background: url(../images/retrieve/result.png) 0px 0px no-repeat;
		}
#footer{
	background: white;
}
#lower_footer{
	clear:both;
}