
.sider{
	float:left;
	width:150px;
	height:800px;
	margin:20px 0px 0 60px;
}
.right{
	float: right;
	width: 730px;
	margin-right: 20px;
}
.content{
	width:725px;
	margin:0 auto;
	margin-top:20px;
}
	.right h3{
		margin:10px;
		display:inline-block;
	}
	hr{
		display:inline-block;
		background:#C6DAE5;
		height:2px;
		border:0;
		width:450px;
	}
	.content .step{
		height:280px;
		width:725px;
		margin:0 auto;
	}
		#choice{
			background:url(../images/store_bg.png) no-repeat;
			width:722px;
			margin:20px auto;
		}
			#choice .intro{
				float:left;
				width: 220px;
				height:256px;
				color:#fff;
				line-height:25px;
				font-weight:bold;
				margin-left:10px;
				text-align:center;
				display:inline-block;
				margin-right:-4px\9;
			}
				.intro .befo{
					display:block;
					font-size:26px;
					padding:50px 0 40px 50px;
					text-align:left;
				}
				.intro .befo_intro{
					display:block;
					font-size:16px;
					width:220px;
					margin:0 auto;
				}
				
			.steps_wrap{
				width:480px;
				display:inline-block;
			}	
				.steps_ul li{
					float:left;
					margin-right:1px;
					width:30px;
					height:256px;
					
				}
					.steps_ul .opt{
						display:inline-block;
						font-size:20px;
						text-align:center;
						color:white;
						width:30px;
						height:256px;
						background:url(../images/plan/list.png) no-repeat center;
					}
					
				.steps_list2 .options,.steps_list3 .options{
					display:none;
				}	
			
				.options .yours{
					display:inline-block;
					width:40px;
					height:40px;
					margin:40px 0 0 40px;
					font-size:16px;
					font-weight:bold;
					color:#ccc;
					float:left;
				}
				.options a{
					display:inline-block;
					width:100px;
					height:250px;
					margin-left:30px;
					position:relative;
				}
					.options a span{
						position:relative;
						top:220px;
						left:25px;
						font-size:20px;
					}
					
		/******* list1 gender ******/			
				.steps_list1 .options .male{
					background:url(../images/plan/male10.png) no-repeat center;
				}
				.steps_list1 .options .male:hover{
					background:url(../images/plan/male11.png) no-repeat center;
				}
				
				.steps_list1 .options .female{
					background:url(../images/plan/female.png) no-repeat center;
				}
				.steps_list1 .options .female:hover{
					background:url(../images/plan/female11.png) no-repeat center;
				}
							
		/******** list2 goal ***********/		
				.steps_list2 .options .m_loss{
					background:url(../images/plan/mloss1.png) no-repeat center;
				}
				.steps_list2 .options .m_loss:hover{
					background:url(../images/plan/mloss2.png) no-repeat center;
				}
				.steps_list2 .options .m_build{
					background:url(../images/plan/m32.png) no-repeat center;
				}
				.steps_list2 .options .m_build:hover{
					background:url(../images/plan/m33.png) no-repeat center;
				}
				.steps_list2 .options .f_loss{
					background:url(../images/plan/loss1.png) no-repeat center;
				}
				.steps_list2 .options .f_loss:hover{
					background:url(../images/plan/loss2.png) no-repeat center;
				}
				.steps_list2 .options .f_build{
					background:url(../images/plan/ff1.png) no-repeat center;
				}
				.steps_list2 .options .f_build:hover{
					background:url(../images/plan/ff.png) no-repeat center;
				}
		/******* list3 age *********/	
				
				.steps_list3 .options a{
					width:80px;
					margin-left:10px;
				}
				.steps_list3 .options .m_teen{
					background:url(../images/plan/m1.png) no-repeat center;
				}
				.steps_list3 .options .m_teen:hover{
					background:url(../images/plan/m2.png) no-repeat center;
				}
				.steps_list3 .options .m_adult{
					background:url(../images/plan/m3.png) no-repeat center;
				}
				.steps_list3 .options .m_adult:hover{
					background:url(../images/plan/m4.png) no-repeat center;
				}
				.steps_list3 .options .m_older{
					background:url(../images/plan/m5.png) no-repeat center;
				}
				.steps_list3 .options .m_older:hover{
					background:url(../images/plan/m6.png) no-repeat center;
				}
				
				.steps_list3 .options .f_teen{
					background:url(../images/plan/f1.png) no-repeat center;
				}
				.steps_list3 .options .f_teen:hover{
					background:url(../images/plan/f2.png) no-repeat center;
				}
				.steps_list3 .options .f_adult{
					background:url(../images/plan/f3.png) no-repeat center;
				}
				.steps_list3 .options .f_adult:hover{
					background:url(../images/plan/f4.png) no-repeat center;
				}
				.steps_list3 .options .f_older{
					background:url(../images/plan/f5.png) no-repeat center;
				}
				.steps_list3 .options .f_older:hover{
					background:url(../images/plan/f6.png) no-repeat center;
				}
						
		/******* current *******/
				.steps_ul .current{
					width:415px;
				}
					
					.current .opt{
						background:url(../images/plan/select.png) no-repeat center;
						color:#656565;
						float:left;
					}
					.current .options{
						display:inline-block;
						width:380px;
						height:256px;
					}
					.steps_ul .options{
						display:none;
					}
					.steps_ul .select{
						display:inline-block;

					}
			
	.char{
		margin:0 9px;
	}
	.char_pro{
		position: relative;
		float: left;
		margin: 10px 15px 0 0;
		border: 2px solid #f2f2ff;
		font-weight: 600;
	}
	.add_pro{
		margin-right: 0px;
	}
		.char_pro i{
			position:absolute;
			top:-7px;
			left:-7px;
			display:inline-block;
			width:84px;
			height:84px;
			background: url(../images/sd_.png)
		}
		.char_pro .profit{
			position:absolute;
			top:7px;
			left:97px;
			color:red;
			font-size: 16px;
			font-weight: 800;
		}
			.char_pic .pic{
				height: 212px;
				width: 176px;
				background: #CCC;				
			}
		.pro_name,.pro_price{
			height:22px;
			text-align: center;
			line-height: 22px;
		}
		.pro_name{
			background:#a1d8ff;
		}
		.pro_price{
			background:#fe0002;
		}
			.pro_price a{
				color:white;
			}
	.more_pro{
		float: right;
		margin: 10px;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
	}
	.hot{
		height:280px;
	}
	.sell{
		text-align:right;
	}
	.hot_pro{
		float: left;
		height: 205px;
		width: 715px;
		margin: 10px 34px;
	}
	.new{
		margin-top:10px;
	}
	
/********* store2 ************/
#store2 .right{
	width:750px;
}
.main_goal{
	
}
	.main{
		width: 347px;
		height: 97px;
		float: left;
		margin: 10px 20px;
		border: 2px solid #f2f2ff;
	}
		.main .main_pic{
			float:left;
			width:220px;
			display:block;
		}
		.main img{
			height:97px;
			width:220px;
			outline:0;
			background:#ccc;
		}
		.main .passage{
			width: 120px;
			height: 97px;
			float: right;
		}
			.tit{
				color:#4B99BB;
				font-weight:bold;
			}
			.tit:hover{
				text-decoration:underline;
			}
			.contact{
				margin:5px 0 10px 5px;
				overflow:hidden;
				font-size:12px;
			}
			.read_all{
				color:#9AC4D5;
				font-size:12px;
				font-weight:bold;
			}
			.read_all:hover{
				text-decoration:underline;
			}
.other_goal{
	margin-top:20px;
}
	.other{
	width: 233px;
	height: 290px;
	float: left;
	margin: 10px 14px;
	}
		.other .other_pic{
			display:block;
			border: 2px solid #f2f2ff;
		}
		.other img{
			display:block;
			width: 229px;
			height: 135px;
			background: #CCC;
			
		}
		.other .passage{
			height:155px;
		}
		.other .contact{
			height:100px;
			line-height:28px;
			padding:0 10px 10px 10px;
			margin-bottom:0;
		}
	
/************ Sider *************/
.sider .video{
	border-bottom: 1px solid #C6C6C6;
	display: block;
	margin: 0;
	color: #000B00;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
	.sider .all{
		line-height: 30px;
		border-bottom: 1px solid #E5E5E5;
		padding-left: 10px;
	}
		.kinds,.sub_kind{
			height: 30px;
			line-height: 30px;
			border-bottom: 1px solid #E5E5E5;
			margin-left:0;
			font-size: 14px;
			font-weight: bold;			
		}
			.kinds a{
				color: #52619D;
			}
			.sub_kind{
				padding-left:5px;
			}
			.sub_kind a{
				color:#52619D;
				font-size:13px;
			}
			.sub_kind a:hover{
				text-decoration:underline;
			}
	.show_all{
		cursor:pointer;
	}
	.hide{
		display:none;
	}













